
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

* { /*Selettore globale*/ 
    box-sizing: border-box; /*E' preferibile inserirlo qui a livello globale*/
}

a {
    color: $mainOrange;
}