.headline  {
    font-weight: 300;
    font-size: 1.9rem;
    color: $mainBlue;

    @mixin atSmall {
        font-size: 2.875rem;
    }

    &--centered {
        text-align: center;
    }

    &--orange {
        color: $mainOrange;
    }

    &--small {
        font-size: 1.2rem;

        @mixin atSmall {
            font-size: 1.875rem;
        }
    }

    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &--light {
        font-weight: 100;
    }

    &--b-margin-small {
        margin-bottom: .5em; /*uso gli em, perchè si adattano al suo parente diretto - quindi si adatta al font-size, ciò significa che se viene adatta la pagina ed il font-size diminuscie, anche le dimensioni espresse in em diminuiranno in proporzione*/
    }

    &--b-margin-large {
        margin-bottom: 1.6em;
    }

    &--no-t-margin {
        margin-top: 0;
    }
}